@import 'include';

.project__menu {
  position   : relative;
  text-align : center;
  outline    : none;
}

.project__menu--open .popup-menu {
  visibility : visible;
}

.project__menu__icon {
  cursor  : pointer;
  opacity : .7;

  &:hover {
    opacity : 1;
  }
}

.popup-menu {
  visibility       : hidden;
  position         : absolute;
  z-index          : 900;
  padding          : 10px 0;
  margin-left      : -1em;
  margin-top       : 9px;
  background-color : #fff;
  border-radius    : 4px;
  box-shadow       : 1px 1px 3px #eee;
  border           : 1px solid $lgray;
  //transform        : translate(0, 0) scale(0.95);
  transition       : transform 0.1s ease-out, opacity 0.1s ease-out;
}

.popup-menu .action {
  background          : none;
  border              : 0 none;
  overflow            : visible;
  -webkit-user-select : none;
  -moz-user-select    : none;
  -ms-user-select     : none;
  width               : 100%;
  text-align          : left;
  outline             : none;
  cursor              : pointer;
  min-width           : 100%;
  font-size           : 13px;
  line-height         : 18px;
  padding             : 5px 20px;
  position            : relative;
  white-space         : nowrap;
}

.popup-menu__items {
  outline : none;
}

.popup-menu--divider {
  height           : 1px;
  background-color : $lgray;
  width            : 100%;
}

.popup-menu__triangle {
  position : absolute;
  top      : -10px;
  left     : 12px;
  width    : 18px;
  height   : 10px;
  float    : left;
  overflow : hidden;
}

.popup-menu__triangle:before,
.popup-menu__triangle:after {
  content     : '';
  display     : inline-block;

  position    : absolute;
  margin-left : -1px;
  font-size   : 0;
  line-height : 1;
}

.popup-menu__triangle:before {
  border-bottom : 10px solid #ccc;
  border-left   : 10px solid transparent;
  border-right  : 10px solid transparent;
  height        : auto;
  left          : 0;
  top           : 0;
  width         : auto;
}

.popup-menu__triangle:after {
  top           : 2px;
  left          : 1px;
  border-left   : 9px solid transparent;
  border-right  : 9px solid transparent;
  border-bottom : 9px solid #fff;
}

.popup-menu__items {
  margin     : 0;
  list-style : none;
  padding    : 0;
}

.popup-menu__item {
  display : block;
}

.popup-menu .action {

}

.popup-menu__item:hover .action {
  background-color : $clr_accent;
  color            : #fff;
}

.project__action--remove {
  color : red;
}