@import 'include';

/* ------------------------------------------ */
/* --------------- 1. PROJECT --------------- */
/* ------------------------------------------ */
.project {
  input, textarea {
    @include placeholder() {
      color: #ccc;
    }
  }
}

.project__row {
  margin-bottom: 1rem;
}

.project__row--caption {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.project__row--notes {
  //  margin-left: 2em;
}

.project__row--actions {
  padding: 0 .5em;
}

.project__action {
  margin-right: 1em;
}

.project__progress-bar {
  margin-right: .7rem;
}

.project__name {
  margin-right: .7rem;
  font-size: 1.5em;
  font-weight: 500;
  border-bottom: 1px solid transparent;
  font-family: $ff_title;
}

.project__name--textfield {
  padding: 0;
  border-bottom: 1px solid $lgray;
}

.project__name, .project__notes {
  display: block;
  border: 0;
  outline: none;
}

.project__notes {
  width: 100%;
  resize: none;
  font-size: 13px;
  line-height: 1.4;
}

.project__action {
  color: $clr_accent;

  .action__icon {
    font-weight: bold;
    font-size: 85%;
  }

  &:hover {
    .action__name {
      text-decoration: underline;
    }
  }
}

.project__row--tags {
  margin-top: 5em;
}

.project-tag {
  @include clickable();

  border-radius: 1em;
  padding: .3em .5em;
  margin-right: .5em;
  color: $clr_lvl3;
}

.project-tag--selected {
  background-color: $clr_lvl3;
  color: #fff;
}

.task-section {

}

.task-section__header {
  margin-bottom: 1em;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -.5em;
    height: 1px;
    background-color: #f7f7f7;
  }
}

.task-section__caption {
  font-weight: bold;
  color: $clr_accent;
  font-size: 13px;
}
