@import 'include';

@mixin checkbox($clr: $clr_accent, $size: 1em, $duration: .2s, $border_clr: #f2f2f2, $border_width: 2px, $round: false) {
  -webkit-appearance: none;
  outline: none;
  position: relative;
  cursor: pointer;
  flex-shrink: 0;
  width: $size;
  height: $size;

  &:before {
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: $duration;

    content: "";

    position: absolute;
    left: 0;
    z-index: 1;

    width: 100%;
    height: 100%;

    border: $border_width solid $border_clr;
    border-radius: 3px;

    @if ($round) {
      border-radius: 50%;
    }
  }

  &:checked {
    &:before {
      transform: rotate(-45deg);
      border-radius: 0;
      border-width: 2px;

      height: .5em;

      border-color: $clr;
      border-top-style: none;
      border-right-style: none;
    }
  }

  &:after {
    content: "";

    position: absolute;
    left: 0;

    width: 100%;
    height: 100%;

    cursor: pointer;
  }
}
