@import 'vars';

@mixin unselectable() {
  user-select : none;
}

@mixin clickable($unselectable: true) {
  cursor : pointer;

  @if ($unselectable) {
    @include unselectable();
  }
}

@mixin overflow-dots() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space : nowrap;
}

@mixin placeholder() {
  &::-webkit-input-placeholder {
    @content
  }

  &::-moz-placeholder {
    @content
  }

  &:-ms-input-placeholder {
    @content
  }

  &:-moz-placeholder {
    @content
  }
}