/* ------------ colors ------------ */
$clr_accent: #cd3d82;
$clr_base: #393939;
$red: red;
$blue: blue;
$orange: orange;
$green: green;
$yellow: #ffe67a;
$lgray: lightgray;

/* ------------ sizes ------------ */


/* ------------ vars ------------ */
$app_bg: #f7f5f9;
$ff_base: 'Montserrat', sans-serif;
$ff_title: 'Encode Sans Expanded', sans-serif;
