/* ------------ colors ------------ */
$clr_accent: #cd3d82;
$clr_lvl1: #393939;
$clr_lvl2: #555;
$clr_lvl3: #aaa;
$red: red;
$blue: blue;
$orange: orange;
$green: green;
$yellow: #ffe67a;
$lgray: lightgray;
$app_bg: #f7f5f9;

/* ------------ sizes ------------ */
$task_side_padding: .6rem;
$task_side_margin: .5rem;

/* ------------ fonts ------------ */
$fz_base: 13px;
$ff_base: 'Verdana', sans-serif;
$ff_title: 'Arial', sans-serif;
