//$ff_base: 'Open Sans', sans-serif;
$ff_base: 'Helvetica Neue', Helvetica, Arial, sans-serif;

/* ------------ colors ------------ */
$clr_accent: #ff245d;
$red: red;
$blue: blue;
$orange: orange;
$green: green;
$yellow: yellow;

/* ------------ sizes ------------ */