@import 'include';
@import 'normalize';
@import 'icons';

body {
  margin         : 0;
  padding        : 0;

  //background     : linear-gradient(to right, #3f4c6b, #606c88);

  //background-image : url(https://www.toptal.com/designers/subtlepatterns/patterns/concrete-texture.png);

  font-family    : $ff_base;
  color          : $clr_base;
  font-smoothing : antialiased;
  font-weight    : 300;
  font-size      : 15px;
}

#app {
  background-color : #f9f9f9;
  padding          : 0 0 1em 0;
  min-height       : 100vh;
  display          : flex;
  flex-direction   : column;
}

*, *::before, *::after {
  box-sizing : border-box;
}

#app {
  //padding          : 1em;
}