@import "include";

$completed_task_opacity: .5;
$hover_bc: #fafafa;
$transition_duration: .2s;
$transition_timing_func: cubic-bezier(0.23, 1, 0.32, 1);

.task-list-container {
  margin: 0 -.5rem 3rem;
}

.task-list {

}

.task-list--dragging-over {

}

.task-outer {
  display: flex;
  align-items: center;
  position: relative;
  outline: none;

  .task {
    flex: 1;
  }
}

.task-outer__drag-handle {
  opacity: 0;
  outline: none;
  position: absolute;
  left: -1em;
}

.task-outer:hover {
  .task-outer__drag-handle {
    opacity: .2;
  }
}

.task {
  @include clickable();

  transition-property: background-color, padding, margin;
  transition-duration: $transition_duration;
  transition-timing-function: $transition_timing_func;
  border-radius: 3px;
  padding: 0 .5rem;

  position: relative;
  outline: none;
}

.task__row {
  padding-left: 1.5em;
  position: relative;
}

.task__row--caption {
  padding: .5em 0;
  display: flex;
  align-items: center;
}

.task__row--details {
  display: none;
}

.task__row--controls {

}

%checkbox {
  width: .5em;
  flex-shrink: 0;

  &:before {
    border-radius: 3px;
  }

  &:checked {
    // opacity: $completed_task_opacity;
  }
}

.task__checkbox {
  @extend %checkbox;
}

.task__caption {
  @include unselectable();

  font-weight: 400;
  line-height: 1.4;
  margin-right: 2em;
}

.task__notes {
  display: none;

  color: #333;
  width: 100%;
  font-size: 13px;
  line-height: 1.4;
}

.task__controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 1em;
  font-size: 15px;
}

.task__controls .action {
  @include clickable();

  opacity: .8;

  color: #666;
  cursor: pointer;
  margin-left: 1em;

  &:hover {
    opacity: 1;
  }
}

.task__drag-placeholder {
  display: none;
  background-color: $hover_bc;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
}

/* -------------- 2.2 TASK STATES -------------- */

.task--completed {
  .task__caption {
    // @include strikethrough();
    text-decoration: line-through;
    opacity: $completed_task_opacity;
    font-weight: normal;
  }
}

.task--dragging {
  position: relative;
  //border: 2px solid cornflowerblue;
  display: block;

  .task__drag-placeholder {
    display: block;
  }
}

.task-list:not(.task-list--dragging) .task:hover:not(.task--open) {
  // background-color: $hover_bc;

  .task__checkbox {
    //@include checkbox($lgray, 1em, $bg_clr : #f5f5f5, $border_width: 1px, $border_clr : $lgray);
  }
}

.task-list--dragging-over .task {
  transition: transform .1s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.task:not(.task--open) {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .task__row--caption {
    flex: 1;
  }

  .task__row--controls {
    opacity: 0;
    transition: all .2s;
  }

  &:hover, &.task--selected .task__row--controls {
    opacity: 1;
  }
}

.task--selected, .task--dragging {
  background-color: #f7f7f7;
}

.task--dragging {
  opacity: .5;

  .task__controls {
    display: none;
  }
}

.task {
  &:before {
    left: 0;
    top: 0;
    padding: 0;
    // box-shadow: 0 0 8px #e0e0e0;
    background-color: transparent;
    transition-property: background-color, box-shadow, padding, left, top;
    transition-duration: $transition_duration;
    transition-timing-function: $transition_timing_func;

    z-index: 0;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
  }
}

.task--open {
  display: block;
  margin: 2em 0;
  position: relative;

  &:before {
    left: -1em;
    top: -1em;
    padding: 1em;
    box-shadow: 0 0 8px #e0e0e0;
    background-color: #fff;
  }

  .task__row + .task__row {
    margin-top: 1.5em;
  }

  .task__row--details {
    display: block;
  }

  .task__caption {
    cursor: text;
  }

  .task__notes {
    display: block;
  }
}

.task:not(.task--completed) .task__checkbox:hover:before {
  background-color: #f5f5f5;
}

/* ------------------------------------------ */
/* ---------------- 2. TODOS ---------------- */
/* ------------------------------------------ */
.todo {
  padding: .2em 0;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  align-items: center;
  font-size: 13px;

  &:last-child {
    border-color: transparent;
  }
}

.todo--done {
  opacity: .3;

  .todo__caption {
    text-decoration: line-through;
  }
}

.todo__checkbox {
  @extend %checkbox
}

.todo__caption {
  border: 0;
  background: none;
  color: #666;
  font-weight: 300;
  outline: none;
}