@import 'include';

.tags {
  display: flex;
}

.tag {
  @include clickable();

  border-radius: 1em;
  padding: .3em .5em;
  margin-right: .5em;
  color: $clr_lvl3;
}

.tagSelected {
  background-color: $clr_lvl3;
  color: #fff;
}