@import 'include';

.workspace-container {
  flex: 1;
  position: relative;
  background-color: #fff;
}

.workspace {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 2em 2.5em 1em;
  height: 100%;
}

.workspace__row {
  margin-bottom: 1.5rem;
  padding: 0 2rem;

  &:empty {
    display: none;
  }
}

.workspace__row--body {
  overflow-y: auto;
  overflow-x: hidden;
  flex: 1;

  &::-webkit-scrollbar {
    display: none;
  }
}

.workspace-empty-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60%;
}

.workspace__row--caption {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  font-size: 1.5em;
}

.workspace__caption {
  margin-left: .8rem;
  font-weight: bold;
  border-bottom: 1px solid transparent;
  font-family: $ff_title;
}

.workspace-actions {
  display: flex;
  justify-content: space-around;
  padding: 0 4.5em;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 3px 0 3px #ccc;
}

.workspace-action {
  font-size: 1.2rem;
  padding: .4rem;
}

.workspace-action--remove {
  font-size: 1.1rem;
}