@import 'include';

.plan {
  display: flex;
  height: 100%;
  justify-content: center;
  padding-right: 10%;
  //flex            : 1;
}

.sidebar {
  width: 16em;
  padding: 1em 1.5em;
  display: flex;
  flex-direction: column;
}

.workspace {
  flex: 1;
  padding: 1em 1.5em 1em;
  overflow-y: auto;
  max-width: 41em;
  background-color: #fff;
  border: 1px solid #eee;
  box-shadow: 0 0 1px #e0e0e0;
}

.sidebar__projects {
  margin: 1em 0;
  font-family: $ff_title;
}

.sidebar__actions {
  //margin-top : auto;
}

.sidebar__action {
  @include clickable();

  color: $clr_accent;

  &:hover {
    .action__name {
      text-decoration: underline;
    }
  }

  .action__icon {
    font-weight: bold;
    font-size: 85%;
  }
}

.sidebar__project {
  @include unselectable();
  text-decoration: none;
  display: flex;
  align-items: center;

  transition: all .2s;

  cursor: pointer;
  color: #555;
  padding: .4em;
  margin: .5em 0;
  border-radius: 3px;
  border: 2px solid transparent;

  @include overflow-dots();
}

.sidebar__project__progress-bar {
  margin-right: .4em;
}

.sidebar__project--task-over {
  border-color: $clr_accent;
}

.sidebar__project--selected {
  background-color: rgba(235, 230, 241, 0.64);
}