@import 'include';

.textfield {
  width: 100%;
  min-width: 0.5em;
  line-height: 1.2;
}

.textfield::placeholder {
  color: #ccc;
}

.textfieldMultiline {
  resize: none;
  overflow: hidden;
}

.textfieldTransparent {
  border: 0;
  outline: none;
  background: none;
  padding: 0;
}