@import 'include';

.project {
  input, textarea {
    @include placeholder() {
      color: #ccc;
    }
  }
}

.progressBar {
  margin-right: .7rem;
}

.name {
  margin-right: .7rem;
  font-size: 1.5em;
  font-weight: 500;
  border-bottom: 1px solid transparent;
  font-family: $ff_title;
}

.nameTextfield {
  padding: 0;
}

.name, .notes {
  display: block;
  border: 0;
  outline: none;
}

.notes {
  width: 100%;
  resize: none;
  font-size: 13px;
  line-height: 1.4;
}

.rowNotes {
  margin-bottom: 3.5em;
}
