@import "include";
@import "checkbox";

.list {
  position: relative;
  overflow-y: auto;
  margin-left: -1em;
  padding-left: 1em;
}

.todo {
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  align-items: center;
  font-size: 13px;

  &:last-child {
    border-color: transparent;
  }
}

.isDone {
  .captionInput {
    opacity: .5;
    text-decoration: line-through;
  }

  .checkbox {
  }
}

.captionInput {
  &:before {
    content: '1';
  }

  border: 0;
  background: none;
  color: #666;
  font-weight: 300;
  outline: none;
}

.strikethroughLine {
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  height: 1px;
  background-color: #666;
}

.checkbox {
  $size: 24px;
  $circle_size: 16%;
  $stroke_width: 6%;

  fill: transparent;
  width: $size;
  height: $size;

  .checkmark {
    stroke: rgba(102, 102, 102, 0.29);
    stroke-width: 7%;
    visibility: hidden;
  }

  .circle {
    cx: 50%;
    cy: 50%;
  }

  .circle {
    r: $circle_size;
    stroke-width: $stroke_width;
    stroke: $clr_accent;
  }

  &.accent {
    .circle {
    }
  }

  &.checked {
    .checkmark {
      visibility: visible;
      stroke-dasharray: 100%;
    }

    .circle {
      display: none;
    }
  }
}

// dnd
.draggable {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;

  &:hover {
    .dragHandle {
      opacity: .3;
    }
  }
}

.dragHandle {
  display: flex;
  cursor: pointer;
  position: absolute;
  left: -1em;
  opacity: 0;
  transition: opacity .2s;

  &:hover {
    opacity: 1 !important;
  }
}

.isSortingActive {
  .dragHandle {
    display: none;
  }
}

.dragging {
  box-shadow: 0 0 3px #aaa;
  background-color: #fff;
  overflow: hidden;
}